@charset "UTF-8";
footer {height: 100px;}
a {color: #000;  text-decoration:none;}
a:hover {color: #000; text-decoration:none;}
thead {background-color:lightgray}

.contents-box {width:650px;}
.header {height: 150px;}
.contents {min-height: 500px;}
.card {background-color: lightgrey;}
.box {width:650px; background-color:#ebebeb; margin-top:20px; }
.book-box {width: 160px; margin-top:20px;}
.point-box {padding-right: 100px;}
.qna-box1 {width:650px; height: 500px; background-color:#ebebeb; margin-top:20px; }
.qna-box2 {width:450px; background-color:darkgrey; margin-top:20px; }
.review-box {width: 800px; height:150px; background-color:#ebebeb;}

#writeTextArea {height:100px;}

.vl {
  border-left: 2px solid rgb(223, 223, 223);
  min-height:  500px;
}